src/flows/Cancel.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call</name>
        <label>Call</label>
        <locationX>253</locationX>
        <locationY>353</locationY>
        <actionName>SM091_API</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_is_not_null</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sBody</name>
            <value>
                <stringValue>{ &quot;disqualified&quot;: true }</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sHeaders</name>
            <value>
                <stringValue>{&quot;api_key&quot;:&quot;3NX6AQ896ZVXSNESPFA2RXVX&quot;,&quot;partner_id&quot;:&quot;f7c3b952-0a91-4445-9807-43026d0124fa&quot;,&quot;Content-Type&quot;: &quot;application/json&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sMethod</name>
            <value>
                <stringValue>PATCH</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sType</name>
            <value>
                <stringValue>Cancel Here</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sURL</name>
            <value>
                <stringValue>https://prod-herc-gateway.herc.one/raffle-ticket/timestamp-reference/ticket/1234</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>get_message</name>
        <label>get message</label>
        <locationX>278</locationX>
        <locationY>730</locationY>
        <actionName>SM092_JPath</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>message_is_not_null</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>rawJson</name>
            <value>
                <elementReference>Call.sResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sPath</name>
            <value>
                <stringValue>/message</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>sMessage</assignToReference>
            <name>sValue</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>set_message</name>
        <label>set message</label>
        <locationX>445</locationX>
        <locationY>583</locationY>
        <assignmentItems>
            <assignToReference>sMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call.sError</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Error</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Error_is_not_null</name>
        <label>Error is not null?</label>
        <locationX>227</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>get_message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call.sError</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_message</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>message_is_not_null</name>
        <label>message is not null?</label>
        <locationX>893</locationX>
        <locationY>672</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error</targetReference>
            </connector>
            <label>no null</label>
        </rules>
    </decisions>
    <interviewLabel>Cancel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Error</name>
        <label>Display Error</label>
        <locationX>454</locationX>
        <locationY>460</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Displayerror</name>
            <fieldText>&lt;p&gt;{!sMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Call</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>sMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
