src/flows/Categories_Menu.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Option1</name>
        <label>Set Option1</label>
        <locationX>257</locationX>
        <locationY>294</locationY>
        <assignmentItems>
            <assignToReference>option1.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fashion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>type</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>subcategory</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option10</name>
        <label>Set Option10</label>
        <locationX>149</locationX>
        <locationY>909</locationY>
        <assignmentItems>
            <assignToReference>option10.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>More</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option10.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option10.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option10.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Categories_Page_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option1_2</name>
        <label>Set Option1 2</label>
        <locationX>679</locationX>
        <locationY>456</locationY>
        <assignmentItems>
            <assignToReference>option1.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Lingerie</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LINGERIE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option2_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option1_3</name>
        <label>Set Option1 3</label>
        <locationX>887</locationX>
        <locationY>171</locationY>
        <assignmentItems>
            <assignToReference>option1.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Men Fashion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>fashion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gender</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MEN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sName3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sValue3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option2_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option2</name>
        <label>Set Option2</label>
        <locationX>166</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>option2.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Home furnishing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>home furnishing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option2_2</name>
        <label>Set Option2 2</label>
        <locationX>600</locationX>
        <locationY>547</locationY>
        <assignmentItems>
            <assignToReference>option2.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bookstore &amp; Newspapers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>BOOKSTORE &amp; NEWSPAPERS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option3_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option2_3</name>
        <label>Set Option2 3</label>
        <locationX>1013</locationX>
        <locationY>232</locationY>
        <assignmentItems>
            <assignToReference>option2.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Women Fashion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>fashion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gender</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>WOMEN</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sName3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sValue3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option3_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option3</name>
        <label>Set Option3</label>
        <locationX>281</locationX>
        <locationY>433</locationY>
        <assignmentItems>
            <assignToReference>option3.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sport</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>sport</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option3_2</name>
        <label>Set Option3 2</label>
        <locationX>744</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>option3.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opticians</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OPTICIANS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option4_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option3_3</name>
        <label>Set Option3 3</label>
        <locationX>894</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>option3.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Kids Fashion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>fashion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gender</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>KIDS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sName3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option3.sValue3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option4_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option4</name>
        <label>Set Option4</label>
        <locationX>159</locationX>
        <locationY>483</locationY>
        <assignmentItems>
            <assignToReference>option4.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Perfumery, Beauty &amp; Health</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PERFUMERY, BEAUTY &amp; HEALTH</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option4_2</name>
        <label>Set Option4 2</label>
        <locationX>617</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>option4.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Services</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SERVICES</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option5_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option4_3</name>
        <label>Set Option4 3</label>
        <locationX>1017</locationX>
        <locationY>378</locationY>
        <assignmentItems>
            <assignToReference>option4.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Show All</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SHOW ALL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>gender</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>all</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sName3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option4.sValue3</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Subcategories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option5</name>
        <label>Set Option5</label>
        <locationX>277</locationX>
        <locationY>561</locationY>
        <assignmentItems>
            <assignToReference>option5.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Restaurants &amp; Cafes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option5.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option5.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RESTAURANT &amp; CAFES</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option5.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option5.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option5.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option5_2</name>
        <label>Set Option5 2</label>
        <locationX>762</locationX>
        <locationY>699</locationY>
        <assignmentItems>
            <assignToReference>option5.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Mobile &amp; Telecom</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option5.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option5.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MOBILE &amp; TELECOM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option5.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option5.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option5.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option6_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option6</name>
        <label>Set Option6</label>
        <locationX>156</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>option6.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shoes &amp; Bags</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option6.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option6.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SHOES &amp; BAGS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option6.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option6.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option6.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option6_2</name>
        <label>Set Option6 2</label>
        <locationX>634</locationX>
        <locationY>784</locationY>
        <assignmentItems>
            <assignToReference>option6.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gardening</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option6.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option6.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GARDENING</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option6.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option6.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option6.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option7_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option7</name>
        <label>Set Option7</label>
        <locationX>268</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>option7.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Electronic &amp; Music</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option7.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option7.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ELECTRONIC &amp; MUSIC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option7.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option7.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option7.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option8</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option7_2</name>
        <label>Set Option7 2</label>
        <locationX>754</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>option7.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Go Back</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option7.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>page</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option7.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option7.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Categories_Page_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option8</name>
        <label>Set Option8</label>
        <locationX>147</locationX>
        <locationY>786</locationY>
        <assignmentItems>
            <assignToReference>option8.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Games &amp; Videogames</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option8.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option8.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GAMES &amp; VIDEOGAMES</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option8.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option8.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option8.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option9</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Option9</name>
        <label>Set Option9</label>
        <locationX>267</locationX>
        <locationY>855</locationY>
        <assignmentItems>
            <assignToReference>option9.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Jewelry &amp; Accessories</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option9.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>keyword</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option9.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JEWELRY &amp; ACCESSORIES</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option9.sFlow</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>search</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option9.sName2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>backFlow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option9.sValue2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Categories_Menu</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Option10</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_type</name>
        <label>Check type</label>
        <locationX>547</locationX>
        <locationY>230</locationY>
        <defaultConnector>
            <targetReference>Page_number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Subcategory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>subcategory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Option1_3</targetReference>
            </connector>
            <label>Subcategory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Page_number</name>
        <label>Page number</label>
        <locationX>426</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>page</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>page</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Option1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>page</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Option1_2</targetReference>
            </connector>
            <label>2</label>
        </rules>
    </decisions>
    <interviewLabel>Categories Menu {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Categories Menu</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>395</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Categories_Page_1</name>
        <label>Send Categories Page 1</label>
        <locationX>202</locationX>
        <locationY>1039</locationY>
        <flowName>send_options</flowName>
        <inputAssignments>
            <name>message</name>
            <value>
                <stringValue>What do you have in mind?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option01</name>
            <value>
                <elementReference>option1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option02</name>
            <value>
                <elementReference>option2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option03</name>
            <value>
                <elementReference>option3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option04</name>
            <value>
                <elementReference>option4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option05</name>
            <value>
                <elementReference>option5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option06</name>
            <value>
                <elementReference>option6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option07</name>
            <value>
                <elementReference>option7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option08</name>
            <value>
                <elementReference>option8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option09</name>
            <value>
                <elementReference>option9</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option10</name>
            <value>
                <elementReference>option10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>visitorId</name>
            <value>
                <elementReference>visitorId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Categories_Page_2</name>
        <label>Send Categories Page 2</label>
        <locationX>716</locationX>
        <locationY>970</locationY>
        <flowName>send_options</flowName>
        <inputAssignments>
            <name>message</name>
            <value>
                <stringValue>What do you have in mind?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option01</name>
            <value>
                <elementReference>option1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option02</name>
            <value>
                <elementReference>option2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option03</name>
            <value>
                <elementReference>option3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option04</name>
            <value>
                <elementReference>option4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option05</name>
            <value>
                <elementReference>option5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option06</name>
            <value>
                <elementReference>option6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option07</name>
            <value>
                <elementReference>option7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>visitorId</name>
            <value>
                <elementReference>visitorId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Send_Subcategories</name>
        <label>Send Subcategories</label>
        <locationX>960</locationX>
        <locationY>492</locationY>
        <flowName>send_options</flowName>
        <inputAssignments>
            <name>message</name>
            <value>
                <stringValue>What do you have in mind?</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option01</name>
            <value>
                <elementReference>option1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option02</name>
            <value>
                <elementReference>option2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option03</name>
            <value>
                <elementReference>option3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>option04</name>
            <value>
                <elementReference>option4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>visitorId</name>
            <value>
                <elementReference>visitorId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>option1</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option10</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option2</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option3</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option4</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option5</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option6</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option7</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option8</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option9</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>page</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
