src/flows/LUIS.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>save_File</name>
        <label>save File</label>
        <locationX>392</locationX>
        <locationY>540</locationY>
        <actionName>SM088_File2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>create_transaction</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sURL</name>
            <value>
                <elementReference>originalmessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>fileId</assignToReference>
            <name>fileId</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Dispatch</name>
        <label>Dispatch</label>
        <locationX>275</locationX>
        <locationY>270</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Image</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>save_File</targetReference>
            </connector>
            <label>Image?</label>
        </rules>
    </decisions>
    <interviewLabel>LUIS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LUIS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Link</name>
        <label>Create Link</label>
        <locationX>659</locationX>
        <locationY>405</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>fileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>txnId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShareType</field>
            <value>
                <stringValue>I</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_transaction</name>
        <label>create transaction</label>
        <locationX>497</locationX>
        <locationY>364</locationY>
        <assignRecordIdToReference>txnId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Link</targetReference>
        </connector>
        <inputAssignments>
            <field>Visitor__c</field>
            <value>
                <elementReference>visitorId</elementReference>
            </value>
        </inputAssignments>
        <object>Transaction__c</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Dispatch</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>entities</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>originalmessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>txnId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
