src/flows/repeat_search.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>search_outlets</name>
        <label>search outlets</label>
        <locationX>174</locationX>
        <locationY>443</locationY>
        <actionName>OutletSearch</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>gender</name>
            <value>
                <elementReference>gender</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyword</name>
            <value>
                <elementReference>get_visitor.keyword__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitorId</name>
            <value>
                <elementReference>visitorId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <interviewLabel>repeat_search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>repeat_search</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_visitor</name>
        <label>get visitor</label>
        <locationX>174</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>search_outlets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>visitorId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visitor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_visitor</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>gender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
