src/flows/send_message.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Message</name>
        <label>Message</label>
        <locationX>579</locationX>
        <locationY>603</locationY>
        <actionName>FlowSendMessage2</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>{!total} is you total</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitorId</name>
            <value>
                <elementReference>visitorId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>OCR</name>
        <label>OCR</label>
        <locationX>445</locationX>
        <locationY>479</locationY>
        <actionName>SM086_OCR</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Message</targetReference>
        </connector>
        <inputParameters>
            <name>fileName</name>
            <value>
                <stringValue>file.jpg</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>imageurl</name>
            <value>
                <elementReference>originalmessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>total</assignToReference>
            <name>total</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>check_Intent</name>
        <label>check Intent</label>
        <locationX>314</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Image</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Imagee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OCR</targetReference>
            </connector>
            <label>Image</label>
        </rules>
    </decisions>
    <interviewLabel>send message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>send message</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>183</locationX>
        <locationY>70</locationY>
        <connector>
            <targetReference>check_Intent</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>entities</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>intent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>originalmessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>total</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
