src/flows/send_carousel.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Carousel</name>
        <label>Send Carousel</label>
        <locationX>554</locationX>
        <locationY>131</locationY>
        <actionName>MessageOptions</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>content</name>
            <value>
                <stringValue>{&quot;items&quot;:[{!item1Str},{!item2Str},{!item3Str},{!item4Str},{!item5Str}]}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sType</name>
            <value>
                <stringValue>Carousel</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitorId</name>
            <value>
                <elementReference>visitorId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>item1_is_present</name>
        <label>item1 is present</label>
        <locationX>320</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>item2_is_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>item1_is_present1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>item1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>item1.imageURL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>item1_to_JSON</targetReference>
            </connector>
            <label>item1 is present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>item2_is_present</name>
        <label>item2 is present</label>
        <locationX>315</locationX>
        <locationY>562</locationY>
        <defaultConnector>
            <targetReference>item3_is_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>item2_is_present2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>item2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>item2_to_JSON</targetReference>
            </connector>
            <label>item2 is present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>item3_is_present</name>
        <label>item3 is present?</label>
        <locationX>324</locationX>
        <locationY>817</locationY>
        <defaultConnector>
            <targetReference>item4_is_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>item_3_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>item3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>item3_to_json</targetReference>
            </connector>
            <label>item 3 is present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>item4_is_present</name>
        <label>item4 is present?</label>
        <locationX>540</locationX>
        <locationY>631</locationY>
        <defaultConnector>
            <targetReference>item5_is_present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>item_4_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>item4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>item4_to_JSON</targetReference>
            </connector>
            <label>item 4 is present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>item5_is_present</name>
        <label>item5 is present?</label>
        <locationX>556</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>Send_Carousel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>item_5_is_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>item5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>item5_to_JSON</targetReference>
            </connector>
            <label>item 5 is present?</label>
        </rules>
    </decisions>
    <interviewLabel>send carousel {!$Flow.CurrentDateTime}</interviewLabel>
    <label>send carousel</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>32</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>item1_is_present</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>item1_to_JSON</name>
        <label>item1 to JSON</label>
        <locationX>126</locationX>
        <locationY>484</locationY>
        <connector>
            <targetReference>item2_is_present</targetReference>
        </connector>
        <flowName>CarouselItem_to_JSON</flowName>
        <inputAssignments>
            <name>item</name>
            <value>
                <elementReference>item1</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>item1Str</assignToReference>
            <name>return</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>item2_to_JSON</name>
        <label>item2 to JSON</label>
        <locationX>142</locationX>
        <locationY>698</locationY>
        <connector>
            <targetReference>item3_is_present</targetReference>
        </connector>
        <flowName>CarouselItem_to_JSON</flowName>
        <inputAssignments>
            <name>item</name>
            <value>
                <elementReference>item2</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>item2Str</assignToReference>
            <name>return</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>item3_to_json</name>
        <label>item3 to json</label>
        <locationX>900</locationX>
        <locationY>819</locationY>
        <connector>
            <targetReference>item4_is_present</targetReference>
        </connector>
        <flowName>CarouselItem_to_JSON</flowName>
        <inputAssignments>
            <name>item</name>
            <value>
                <elementReference>item3</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>item3Str</assignToReference>
            <name>return</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>item4_to_JSON</name>
        <label>item4 to JSON</label>
        <locationX>886</locationX>
        <locationY>470</locationY>
        <flowName>CarouselItem_to_JSON</flowName>
        <inputAssignments>
            <name>item</name>
            <value>
                <elementReference>item4</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>item4Str</assignToReference>
            <name>return</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>item5_to_JSON</name>
        <label>item5 to JSON</label>
        <locationX>807</locationX>
        <locationY>313</locationY>
        <connector>
            <targetReference>Send_Carousel</targetReference>
        </connector>
        <flowName>CarouselItem_to_JSON</flowName>
        <inputAssignments>
            <name>item</name>
            <value>
                <elementReference>item5</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>item5Str</assignToReference>
            <name>return</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>item1</name>
        <apexClass>CVCH__CarouselItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>item1Str</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>item2</name>
        <apexClass>CVCH__CarouselItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>item2Str</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>item3</name>
        <apexClass>CVCH__CarouselItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>item3Str</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>item4</name>
        <apexClass>CVCH__CarouselItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>item4Str</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>item5</name>
        <apexClass>CVCH__CarouselItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>item5Str</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
