src/flows/send_options.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Message_w_Options</name>
        <label>Message w Options</label>
        <locationX>917</locationX>
        <locationY>838</locationY>
        <actionName>MessageOptions</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>content</name>
            <value>
                <stringValue>{&quot;sType&quot;:&quot;{!Type}&quot;,&quot;a&quot;:[{!strOption1},{!strOption2},{!strOption3},{!strOption4},{!strOption5},{!strOption6},{!strOption7},{!strOption8},{!strOption9},{!strOption10}]}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sMessage</name>
            <value>
                <elementReference>message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sType</name>
            <value>
                <stringValue>options</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitorId</name>
            <value>
                <elementReference>visitorId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>option04_is_not_null</name>
        <label>option04 is not null?</label>
        <locationX>682</locationX>
        <locationY>672</locationY>
        <defaultConnector>
            <targetReference>option5_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_option04_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>option04</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>option04_to_JSON</targetReference>
            </connector>
            <label>is option04 null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>option07_not_null</name>
        <label>option07 not null?</label>
        <locationX>901</locationX>
        <locationY>67</locationY>
        <defaultConnector>
            <targetReference>option08_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_option07_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>option07</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>option7_to_JSON</targetReference>
            </connector>
            <label>is option07 not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>option08_not_null</name>
        <label>option08 not null</label>
        <locationX>902</locationX>
        <locationY>269</locationY>
        <defaultConnector>
            <targetReference>option09_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_option08_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>option08</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>option8_to_JSON</targetReference>
            </connector>
            <label>is option08 not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>option09_not_null</name>
        <label>option09 not null</label>
        <locationX>903</locationX>
        <locationY>459</locationY>
        <defaultConnector>
            <targetReference>option10_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_option09_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>option09</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>option9_to_JSON</targetReference>
            </connector>
            <label>is option09 not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>option10_not_null</name>
        <label>option10 not null?</label>
        <locationX>906</locationX>
        <locationY>654</locationY>
        <defaultConnector>
            <targetReference>Message_w_Options</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_option10_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>option10</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>option10_to_JSON</targetReference>
            </connector>
            <label>is option10 not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>option1_not_null</name>
        <label>option1 not null?</label>
        <locationX>264</locationX>
        <locationY>208</locationY>
        <defaultConnector>
            <targetReference>option2_is_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_option1_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>option01</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Option1_to_JSON</targetReference>
            </connector>
            <label>is option1 not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>option2_is_not_null</name>
        <label>option2 is not null</label>
        <locationX>263</locationX>
        <locationY>419</locationY>
        <defaultConnector>
            <targetReference>option3_is_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_option2_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>option02</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>option2_to_JSON</targetReference>
            </connector>
            <label>is option2 not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>option3_is_not_null</name>
        <label>option3 is not null?</label>
        <locationX>258</locationX>
        <locationY>658</locationY>
        <defaultConnector>
            <targetReference>option04_is_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_option3_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>option03</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>option3_to_JSON</targetReference>
            </connector>
            <label>is option3 not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>option5_not_null</name>
        <label>option5 not null?</label>
        <locationX>678</locationX>
        <locationY>474</locationY>
        <defaultConnector>
            <targetReference>option6_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_option5_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>option05</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>option5_to_JSON</targetReference>
            </connector>
            <label>is option5 not null?</label>
        </rules>
    </decisions>
    <decisions>
        <name>option6_not_null</name>
        <label>option6 not null?</label>
        <locationX>674</locationX>
        <locationY>244</locationY>
        <defaultConnector>
            <targetReference>option07_not_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_option6_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>option06</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>option6_to_JSON</targetReference>
            </connector>
            <label>is option6 not null?</label>
        </rules>
    </decisions>
    <interviewLabel>send options test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>send options</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>146</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>option1_not_null</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>option04_to_JSON</name>
        <label>option04 to JSON</label>
        <locationX>420</locationX>
        <locationY>543</locationY>
        <connector>
            <targetReference>option5_not_null</targetReference>
        </connector>
        <flowName>Option_to_JSON</flowName>
        <inputAssignments>
            <name>option</name>
            <value>
                <elementReference>option04</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>strOption4</assignToReference>
            <name>optionStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>option10_to_JSON</name>
        <label>option10 to JSON</label>
        <locationX>1191</locationX>
        <locationY>764</locationY>
        <connector>
            <targetReference>Message_w_Options</targetReference>
        </connector>
        <flowName>Option_to_JSON</flowName>
        <inputAssignments>
            <name>option</name>
            <value>
                <elementReference>option10</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>strOption10</assignToReference>
            <name>optionStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Option1_to_JSON</name>
        <label>Option1 to JSON</label>
        <locationX>51</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>option2_is_not_null</targetReference>
        </connector>
        <flowName>Option_to_JSON</flowName>
        <inputAssignments>
            <name>option</name>
            <value>
                <elementReference>option01</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>strOption1</assignToReference>
            <name>optionStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>option2_to_JSON</name>
        <label>option2 to JSON</label>
        <locationX>50</locationX>
        <locationY>515</locationY>
        <connector>
            <targetReference>option3_is_not_null</targetReference>
        </connector>
        <flowName>Option_to_JSON</flowName>
        <inputAssignments>
            <name>option</name>
            <value>
                <elementReference>option02</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>strOption2</assignToReference>
            <name>optionStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>option3_to_JSON</name>
        <label>option3 to JSON</label>
        <locationX>341</locationX>
        <locationY>871</locationY>
        <connector>
            <targetReference>option04_is_not_null</targetReference>
        </connector>
        <flowName>Option_to_JSON</flowName>
        <inputAssignments>
            <name>option</name>
            <value>
                <elementReference>option03</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>strOption3</assignToReference>
            <name>optionStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>option5_to_JSON</name>
        <label>option5 to JSON</label>
        <locationX>432</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>option6_not_null</targetReference>
        </connector>
        <flowName>Option_to_JSON</flowName>
        <inputAssignments>
            <name>option</name>
            <value>
                <elementReference>option05</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>strOption5</assignToReference>
            <name>optionStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>option6_to_JSON</name>
        <label>option6 to JSON</label>
        <locationX>477</locationX>
        <locationY>128</locationY>
        <connector>
            <targetReference>option07_not_null</targetReference>
        </connector>
        <flowName>Option_to_JSON</flowName>
        <inputAssignments>
            <name>option</name>
            <value>
                <elementReference>option06</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>strOption6</assignToReference>
            <name>optionStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>option7_to_JSON</name>
        <label>option7 to JSON</label>
        <locationX>1163</locationX>
        <locationY>163</locationY>
        <connector>
            <targetReference>option08_not_null</targetReference>
        </connector>
        <flowName>Option_to_JSON</flowName>
        <inputAssignments>
            <name>option</name>
            <value>
                <elementReference>option07</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>strOption7</assignToReference>
            <name>optionStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>option8_to_JSON</name>
        <label>option8 to JSON</label>
        <locationX>1154</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>option09_not_null</targetReference>
        </connector>
        <flowName>Option_to_JSON</flowName>
        <inputAssignments>
            <name>option</name>
            <value>
                <elementReference>option08</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>strOption8</assignToReference>
            <name>optionStr</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>option9_to_JSON</name>
        <label>option9 to JSON</label>
        <locationX>1170</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>option10_not_null</targetReference>
        </connector>
        <flowName>Option_to_JSON</flowName>
        <inputAssignments>
            <name>option</name>
            <value>
                <elementReference>option09</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>strOption9</assignToReference>
            <name>optionStr</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option01</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option02</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option03</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option04</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option05</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option06</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option07</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option08</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option09</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option10</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>strMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>strMessage</stringValue>
        </value>
    </variables>
    <variables>
        <name>strOption1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>strOption10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>strOption2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>strOption3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>strOption4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>strOption5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>strOption6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>strOption7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>strOption8</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>strOption9</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{}</stringValue>
        </value>
    </variables>
    <variables>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
