src/flows/test.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>options</name>
        <label>options</label>
        <locationX>145</locationX>
        <locationY>596</locationY>
        <actionName>MessageOptions2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>send_carousel_message</targetReference>
        </connector>
        <inputParameters>
            <name>option1</name>
            <value>
                <elementReference>option1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>option2</name>
            <value>
                <elementReference>option2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sMessage</name>
            <value>
                <stringValue>message 3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitorId</name>
            <value>
                <elementReference>visitorId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>send_carousel_message</name>
        <label>send carousel message</label>
        <locationX>504</locationX>
        <locationY>399</locationY>
        <actionName>Carousel</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>send_text</targetReference>
        </connector>
        <inputParameters>
            <name>item1</name>
            <value>
                <elementReference>item1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>item2</name>
            <value>
                <elementReference>item1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sMessage</name>
            <value>
                <stringValue>hi!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitorId</name>
            <value>
                <elementReference>visitorId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>send_image</name>
        <label>send image</label>
        <locationX>349</locationX>
        <locationY>796</locationY>
        <actionName>FlowSendImage2</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>imageURL</name>
            <value>
                <stringValue>https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitorId</name>
            <value>
                <elementReference>visitorId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>send_text</name>
        <label>send text</label>
        <locationX>402</locationX>
        <locationY>599</locationY>
        <actionName>FlowSendMessage2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>send_image</targetReference>
        </connector>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>mess</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visitorId</name>
            <value>
                <elementReference>visitorId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>164</locationX>
        <locationY>243</locationY>
        <assignmentItems>
            <assignToReference>item1.title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>title</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>item1.subtitle2</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>subtitle2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>item1.subtitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>subtitle</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>item1.button1.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>button label1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>item1.button1.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>name1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>item1.button1.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>val1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>item1.imageURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://interactive-examples.mdn.mozilla.net/media/cc0-images/grapefruit-slice-332-332.jpg</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>label option 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option1.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>value1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>option 2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>name</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>option2.sValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>value2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>item1.button2.sLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>button2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>options</targetReference>
        </connector>
    </assignments>
    <interviewLabel>test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>item1</name>
        <apexClass>CVCH__CarouselItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option1</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>option2</name>
        <apexClass>CVCH__Option</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visitorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
