src/flows/Welcome_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Welcome</name>
        <label>Welcome</label>
        <locationX>176</locationX>
        <locationY>263</locationY>
        <actionName>FlowSendWelcomeCarousel2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Visitor</targetReference>
        </connector>
        <inputParameters>
            <name>caption</name>
            <value>
                <stringValue>Benvenuto!Sono l&apos;Assistente Virtuale di ELNÒS Shopping.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ChatNumber</name>
            <value>
                <elementReference>ChatNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>imageurl</name>
            <value>
                <stringValue>https://s3-ap-south-1.amazonaws.com:443/bot-bkt/prod/20833/Screen_Shot_2019-10-22_at_10.25.28_AM.png</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visphone</name>
            <value>
                <elementReference>visphone</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <interviewLabel>Welcome Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Welcome Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Select_Language</name>
        <label>Select Language</label>
        <locationX>176</locationX>
        <locationY>568</locationY>
        <flowName>Select_Language</flowName>
        <inputAssignments>
            <name>visitorId</name>
            <value>
                <elementReference>Create_Visitor</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ChatNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>visphone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    
</Flow>
